
@{
    ViewData["Title"] = "OutletReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Outlet Report</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Dashboard_1", "Dashboards")">Home</a>
            </li>
            <li>
                <a>Reports</a>
            </li>
            <li class="active">
                <strong>Outlet</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight ecommerce">

    <div class="ibox-content m-b-sm border-bottom">

        <div class="row">
            <div class="col-sm-3">
                <div class="form-group">
                    <label class="control-label" for="country">Countries</label>
                    <select name="country" id="country" class="form-control selectpicker">

                        <option value="AE">United Arab Emirates</option>

                        <option value="Bangladesh">Bangladesh</option>

                        <option value="Brunei Darussalam">Brunei Darussalam</option>

                        <option value="Indonesia">Indonesia</option>

                        <option value="India">India</option>

                        <option value="Japan">Japan</option>

                        <option value="Sri Lanka">Sri Lanka</option>

                        <option value="Myanmar">Myanmar</option>

                        <option value="Maldives">Maldives</option>

                        <option value="Malaysia">Malaysia</option>

                        <option value="Oman">Oman</option>

                        <option value="Qatar">Qatar</option>

                        <option value="Singapore">Singapore</option>

                        <option value="Thailand">Thailand</option>

                    </select>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label class="control-label" for="status">Outlet</label>
                    <select class="selectpicker form-control" data-container="body" id="OutletId" name="OutletId" multiple data-actions-box="true" data-selected-text-format="count > 1"></select>
                    <span class="text-danger field-validation-error hidden" data-valmsg-for="OutletId" data-valmsg-replace="true">The OutletId field is required.</span>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label class="control-label" for="Type">Type</label>
                    <select name="status" id="Type" class="form-control selectpicker">
                        <option value="ALL" selected>ALL</option>
                        <option value="Compliment">Compliment</option>
                        <option value="Feedback">Feedback</option>
                        <option value="Complaint">Complaint</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label class="control-label" for="amount">Statuses</label>
                    <select name="status" id="status" class="form-control selectpicker" multiple data-actions-box="true" data-selected-text-format="count > 1">
                        <option value="Resolved" selected>Resolved</option>
                        <option value="Pending" selected>Pending</option>
                        <option value="Unresolved" selected>Unresolved</option>
                    </select>


                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="form-group">
                    <label class="control-label" for="date_start">Date Start</label>
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span><input id="date_start" type="text" class="form-control">
                    </div>

                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label class="control-label" for="date_end">Date End</label>
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span><input id="date_end" type="text" class="form-control">
                    </div>

                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label class="control-label text-success " for="amount" title="Compute each KPI as averaged daily % of surveys scoring greater or equatl to this value.&#10;&#10;      Note A: Does NOT affect the following 2 KPIs, which are ALWAYS displayed in %: 1) NPS, and 2) [LV] Last Visit.&#10;&#10;     Note B: Thresholded values do NOT add up to 100%. Consider the following example of 1 submission for an outlet, KPI scores could be displayed as&#10;      5,5,8,10     overall=7&#10;&#10;After thresholding individual columns by 8, you get:&#10;     0%,0%,100%,100%     overall=0%&#10;&#10;      As far as the Overall column is concerned, no samples exceeded the threshold of 8, so it shows 0%. Adding the individually thresholded columns is meaningless, e.g.,&#10;(0+0+100+100)/4 = 50% would have incorrectly indicated that 50% of the submissions have overall score greater or equal to 8.">
                        KPI ≥
                    </label>
                    <select name="kpiscore" id="kpiscore" class="form-control selectpicker">

                        <option value="1" data-subtext="(count only KPI's ≥ 1)">1</option>
                        <option value="2" data-subtext="(count only KPI's ≥ 2)">2 </option>
                        <option value="3" data-subtext="(count only KPI's ≥ 3)">3</option>
                        <option value="4" data-subtext="(count only KPI's ≥ 4)">4</option>
                        <option value="5" data-subtext="(count only KPI's ≥ 5)">5</option>
                        <option value="6" data-subtext="(count only KPI's ≥ 6)">6</option>
                        <option value="7" data-subtext="(count only KPI's ≥ 7)">7</option>
                        <option value="8" data-subtext="(count only KPI's ≥ 8)">8</option>
                        <option value="9" data-subtext="(count only KPI's ≥ 9)">9</option>
                        <option value="10" data-subtext="(count only KPI's ≥ 10)">10</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label class="control-label" for="KPIS">KPIS</label>
                    <select name="status" id="KPIS" class="form-control selectpicker" multiple data-actions-box="true" data-selected-text-format="count > 2">
                        <option value="Value" data-subtext="Value">[V]</option>
                        <option value="Quality" data-subtext="Quality">[Q]</option>
                        <option value="Service" data-subtext="Service">[S]</option>
                        <option value="Ambience" data-subtext="Ambience">[A]</option>
                        <option value="Overall">Overall (avg)</option>
                        <option value="Recommend" data-subtext="Recommend">[R]</option>
                        <option value="LastVisit" data-subtext="Last Visit(mths)">[LV]</option>
                    </select>
                </div>
            </div>
        </div>


        <div class="hr-line-dashed"></div>
        <div class="row">
            <div class="col-sm-4">
                @*<div class="form-group">

                        <button type="button" class="btn btn-block btn-outline btn-primary"><i class="fa fa-file-o" style="margin-right:5px;"></i>GENERATE REPORT</button>
                    </div>*@
                <div class="form-group">

                    <button type="button" class="btn btn-w-m btn-primary" id="btnGenerateReport">Generate Report</button>
                    <a href="#" id="export" role='button' class="btn  btn-w-m btn-white">
                        Download All
                    </a>
                    @*<button type="button" class="btn  btn-w-m btn-white">Download All</button>*@
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">

            <div class="ibox">
                <div class="ibox-title">
                    <h5>Processed <span id="totalResult"> </span> results in 39.09 seconds.</h5>


                    <div class="ibox-tools">




                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <a href="#">Config option 1</a>
                            </li>
                            <li>
                                <a href="#">Config option 2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content" id="tableContainer">
                    @*<table  id="tableResult" data-show-toggle="false" data-expand-first="true" class="footable table table-stripped toggle-arrow-tiny" data-page-size="15">
                            <thead>
                                <tr>
                                    <th class="footable-first-column" data-sort-ignore="true">No</th>
                                    <th   data-hide="phone"  data-title="Date (UTC)">Date (UTC)</th>
                                    <th data-hide="phone"   data-title="Time (UTC)">Time (UTC)</th>
                                    <th>Customer</th>
                                    <th data-hide="all"    data-title="Mobile">Mobile</th>
                                    <th data-hide="all"   data-title="Email">Email</th>
                                    <th data-hide="all"  data-title="Check No">Check No.</th>
                                    <th data-hide="all"   data-title="Country">Country</th>
                                    <th data-hide="phone">Outlet</th>
                                    <th  data-hide="phone,tablet"  data-title="Manager">Manager</th>
                                    <th data-hide="phone">Staff</th>
                                    <th data-hide="phone,tablet" title="Value" class="valueRateCol">V</th>
                                    <th data-hide="phone,tablet" title="Quality" class="qualityRateCol">Q</th>
                                    <th data-hide="phone,tablet" title="Service" class="serviceRateCol">S</th>
                                    <th data-hide="phone,tablet" title="Ambience" class="ambienceRateCol">A</th>
                                    <th data-hide="phone,tablet" class="avgCol">Overall (avg)</th>
                                    <th data-hide="phone,tablet" title="recommendRateCol">R</th>
                                    <th data-hide="phone,tablet" title="lvCol">LV</th>
                                    <th data-hide="phone,tablet" title="Feedback">F</th>

                                    <th>Status</th>
                                    <th data-hide="all">Trigger</th>
                                    <th class="text-right" data-sort-ignore="true">Action</th>
                                    <th data-hide="all" data-title="Feedback">Feedback</th>
                                </tr>
                            </thead>
                            <tbody id="generalSurveyResult">
                                <tr id="noresult"><td colspan="22"  class="text-center" data-taggle="off"><span>No Result</span></td></tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="22">
                                        <ul class="pagination pull-right"></ul>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>*@
                </div>
            </div>
        </div>
    </div>
</div>
@section Styles {
    <environment names="Development,Staging,Production">
        <link rel="stylesheet" href="~/lib/footable/css/footable.core.css" />
        <link href="~/lib/bootstrap-select/css/bootstrap-select.css" rel="stylesheet" />
        @*<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.min.css" />
            <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker3.min.css" />*@

        <style>
            #noresult > td > span.footable-toggle {
                display: none !important;
            }

            .footable.breakpoint > tbody > tr.footable-detail-show > td > span.footable-toggle:before {
                content: "\e01f" !important;
            }

            .footable.breakpoint > tbody > tr > td > span.footable-toggle:before {
                content: "\e021" !important;
            }
        </style>

    </environment>

}
@section Scripts {

@await Html.PartialAsync("_ValidationScriptsPartial")
    <environment names="Development,Staging,Production">
        <script src="~/lib/footable/dist/footable.all.min.js"></script>
        <script src="~/lib/bootstrap-select/js/bootstrap-select.js"></script>
        @*<script src="~/lib/datetime-picker/js/bootstrap-datepicker.min.js"></script>*@
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>
        <script src="~/js/ExportToCSV.js"></script>
    </environment>
    <script type="text/javascript">
        function GetAllOutletByCountry(country) {

            $.ajax({
                url: "/api/GetAllOutlet",
                type: "GET",
                contentType: "application/json",
                success: function (data) {
                    var tempHtml = '';



                    for (var i = 0; i < data.length; i++) {
                        if (country.toUpperCase() == data[i].outletCountry) {
                            tempHtml = tempHtml + '<option value="' + data[i].outletId + '">' + data[i].outletName + "</option>";
                        }
                    }



                    $("#OutletId").html(tempHtml);
                    $("#OutletId").selectpicker("refresh");



                }
            });

        }

        function GetCurrentDate() {
            var today = new Date();
            var dd = today.getDate();
            var mm = today.getMonth() + 1; //January is 0!
            var yyyy = today.getFullYear();

            if (dd < 10) {
                dd = '0' + dd
            }

            if (mm < 10) {
                mm = '0' + mm
            }

            today =  yyyy + "-" + mm + "-" + dd;
            return today;

        }

        function round(value, precision) {
            var multiplier = Math.pow(10, precision || 0);
            return Math.round(value * multiplier) / multiplier;
        }


        function CreateTable(tableContent) {
            $("#tableResult").remove();
            $('<table>').attr({ 'id': 'tableResult', 'class': 'footable table table-bordered table-stripped toggle-arrow-tiny"', 'data-page-size': '20', 'data-sorting': 'true' }).appendTo('#tableContainer');
            $("#tableResult").append(
               '<thead><tr>' +
                        '<th data-type="number" class="footable-first-column">No.&nbsp;</th>' +
                        '<th><a href="#" data-toggle="tooltip" title="[C] ountry">C</a> </th>' +
                        '<th >Outlet</th>' +
                        '<th  data-hide="phone" data-type="number"><a href="#" data-toggle="tooltip" title="[DoD] Days on Duty">DoD</a></th>' +
			            '<th  data-hide="phone" data-type="number"><a href="#" data-toggle="tooltip" title="[%DQ] % Days OUTLET met Quota">%DQ</a> </th>' +
                        '<th  data-hide="phone" data-type="number"><a href="#" data-toggle="tooltip" title="[#Q] Outlet Daily Quota">#Q</a></th>' +
                        '<th data-hide="phone" data-type="number" title="Value" class="valueRateCol">V</th>' +
                        '<th data-hide="phone" data-type="number" title="Quality" class="qualityRateCol">Q</th>' +
                        '<th data-hide="phone" data-type="number" title="Service" class="serviceRateCol">S</th>' +
                        '<th data-hide="phone" data-type="number" title="Ambience" class="ambienceRateCol">A</th>' +
                        '<th data-hide="phone" data-type="number" class="avgCol">Overall (avg)</th>' +
                        '<th data-hide="phone" data-type="number" title="Recommend" class="recommendRateCol">R</th>' +
                        '<th  data-hide="phone" data-type="number"><a href="#" data-toggle="tooltip" title="[#S] No. of Surveys">#S</a>  </th>' +
                        '<th data-hide="phone" title="trigger" data-type="number">T</th>' +
                        '<th  data-hide="phone" data-type="number"> <a href="#" data-toggle="tooltip" title="[NPS]: Net Promoter Score %">NPS</a></th>' +
                '</tr></thead>');

            if (tableContent == "") {
                $("#tableResult").append('<tbody id="generalSurveyResult"><tr id="noresult"><td colspan="15"  class="text-center" data-taggle="off"><span>No Result</span></td></tr></tbody>');
            }
            else {

                $("#tableResult").append('<tbody id="generalSurveyResult">' + tableContent + '</tbody>');
            }

            $("#tableResult").append('<tfoot><tr><td colspan="15"><ul class="pagination pull-right"></ul></td></tr></tfoot>');



            var arrKpis = $("#KPIS").selectpicker("val");


            if (arrKpis.indexOf("Value") == -1) {
                $("th.valueRateCol").remove();
                $("td.valueRateCol").remove();
            }

            if (arrKpis.indexOf("Quality") == -1) {
                $("th.qualityRateCol").remove();
                $("td.qualityRateCol").remove();
            }
            if (arrKpis.indexOf("Service") == -1) {
                $("th.serviceRateCol").remove();
                $("td.serviceRateCol").remove();
            }
            if (arrKpis.indexOf("Ambience") == -1) {
                $("th.ambienceRateCol").remove();
                $("td.ambienceRateCol").remove();
            }
            if (arrKpis.indexOf("Overall") == -1) {
                $("th.avgCol").remove();
                $("td.avgCol").remove();
            }
            if (arrKpis.indexOf("Recommend") == -1) {
                $("th.recommendRateCol").remove();
                $("td.recommendRateCol").remove();
            }


            $('.footable').footable();
            $('.footable').trigger('footable_redraw');
        }



        function GetOutletReportData() {




            var objectOutlet = {
                "OutletId": '',
                "DateStart": '',
                "DateEnd": '',
                "Segment": '',
                "Type": '',
                "Statuses": '',
                "KPIS": ''
            };



            objectOutlet.DateEnd = $("#date_end").val();
            objectOutlet.DateStart = $("#date_start").val();
            objectOutlet.Segment = '';
            objectOutlet.OutletId = $("#OutletId").selectpicker("val").toString();
            objectOutlet.Type = '';
            objectOutlet.Statuses = '';
            objectOutlet.KPIS = $("#KPIS").selectpicker("val").toString();

            $.ajax({
                type: "POST",
                url: "/api/GetOutletReport",
                contentType: "application/json",
                async: true,
                dataType: "json",
                data: JSON.stringify(objectOutlet),

                success: function (data) {
                    var tmpHtml = '';

                    $("#totalResult").text(data.length);
                    for (var i = 0; i < data.length; i++) {
                        tmpHtml = tmpHtml + '<tr><td>' + (i + 1) + '</td>';
                        tmpHtml = tmpHtml + '<td>' + data[i].country+ '</td>';
                        tmpHtml = tmpHtml + '<td>' + (data[i].outlet == null ? "NONE" : data[i].outlet) + '</td>';
                        tmpHtml = tmpHtml + '<td>' + data[i].daysOnDuty + '</td>';
                        tmpHtml = tmpHtml + '<td>' + data[i].daysOutletMetQuota + '%</td>';
                        tmpHtml = tmpHtml + '<td>' + data[i].outletDailyQuota + '</td>';




                        tmpHtml = tmpHtml + '<td class="valueRateCol">' + data[i].value+ '</td>';
                        tmpHtml = tmpHtml + '<td class="qualityRateCol">' + data[i].quality + '</td>';
                        tmpHtml = tmpHtml + '<td class="serviceRateCol">' + data[i].service + '</td>';
                        tmpHtml = tmpHtml + '<td class="ambienceRateCol">' + data[i].ambience + '</td>';


                        tmpHtml = tmpHtml + '<td class="avgCol">' + data[i].overall + '</td>';
                        tmpHtml = tmpHtml + '<td class="recommendRateCol">' + data[i].recommend + '</td>';


                        tmpHtml = tmpHtml + '<td>' + data[i].surveyCount + '</td>';



                        tmpHtml = tmpHtml + '<td>' + data[i].trigger + '</td>';

                        tmpHtml = tmpHtml + '<td>' + data[i].netPromoterScore + '%</td>';



                    }

                    if (tmpHtml == '') {
                        tmpHtml = '<tr id="noresult"><td colspan="16"  class="text-center" data-taggle="off"><span>No Result</span></td></tr>';

                    }




                    CreateTable(tmpHtml);
                    //$("#generalSurveyResult").html(tmpHtml);

                    //$('.footable').trigger('footable_redraw');
                }
            });

        }


        $(document).ready(function () {

            CreateTable('');

            $('#KPIS').selectpicker('selectAll');

            $('#country').on('change', function () {
                GetAllOutletByCountry($('#country').val());

            });
            $('#date_start').val(GetCurrentDate()).datepicker({ autoclose: true, format: 'yyyy-mm-dd' }).on('changeDate', function (e) {

                var startDt = $('#date_start').val();
                var endDt = $('#date_end').val();

                if ((new Date(startDt).getTime() > new Date(endDt).getTime())) {
                    $('#date_end').val(startDt);
                }


            });

            $('#date_end').val(GetCurrentDate()).datepicker({ autoclose: true, format: 'yyyy-mm-dd' }).on('changeDate', function (e) {

                var startDt = $('#date_start').val();
                var endDt = $('#date_end').val();

                if (new Date(startDt).getTime() > new Date(endDt).getTime()) {
                    $('#date_start').val(endDt);
                }
            });


            $("#btnGenerateReport").on("click", function (event) {
                GetOutletReportData();
                event.preventDefault();
            });

            GetOutletReportData();


            // This must be a hyperlink
            $("#export").click(function (event) {
                // var outputFile = 'export'
                var outputFile = window.prompt("What do you want to name your output file (Note: This won't have any effect on Safari)") || 'export';
                outputFile = outputFile.replace('.csv', '') + '.csv'

                // CSV
                exportTableToCSV.apply(this, [$('#tableResult'), outputFile]);

                // IF CSV, don't do event.preventDefault() or return false
                // We actually need this to be a typical hyperlink
            });

        });



    </script>
}






